extends layout 

block content 

  h1 #{title} 

  p Do you really want to delete this book instance?

    form(method='POST' action='')
      div.form-group
        input#instaceid.form-control(type='hidden',name='instanceid', required='true', value=instance._id )

      button.btn.btn-primary(type='submit') Delete